
  <html>
    <head>
      <title>uahsuhsua</title>
      <style>
        main {
          max-width: 600px;
          width: 90%;
          display: block;
          margin: 30px auto;
          box-sizing: border-box;
          background: #f8f8f8;
          border-radius: 6px;
          padding: 20px;
          box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
        }
        small {
          display: block;
        }
      </style>
    </head>
    <body>
      <main>
        <small><strong>uahsuhsua</strong></small>
        <h1>#uahsuhsua uahsuhsua (uahsuhsua)</h1>
        <small>Direct by uahsuhsua</small>
        <small>Starred by uahsuhsua</small>
        <article>
          <ul>
            <li>Duration: <em>uahsuhsua minutes.</em></li>
            <li>Revenue: <em>uahsuhsua millions (US$).</em></li>
            <li>Rating (IMDB): <em>uahsuhsua/10.</em> Based on uahsuhsua votes.</li>
            <li>MetaScore: <em>/100.</em></li>
          </ul>
          <p>uahsuhsua</p>
        </article>
      </main>
    </body>
  </html>
