
  <html>
    <head>
      <title>Guardians of the Galaxy</title>
      <style>
        main {
          max-width: 600px;
          width: 90%;
          display: block;
          margin: 30px auto;
          box-sizing: border-box;
          background: #f8f8f8;
          border-radius: 6px;
          padding: 20px;
          box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
        }
        small {
          display: block;
        }
      </style>
    </head>
    <body>
      <main>
        <small><strong>Action,Adventure,Sci-Fi</strong></small>
        <h1>#1 Guardians of the Galaxy (2014)</h1>
        <small>Direct by <strong>James Gunn</strong></small>
        <small>Starred by <strong>Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana</strong></small>
        <article>
          <ul>
            <li>Duration: <em>121 minutes.</em></li>
            <li>Revenue: <em>333.13 millions (US$).</em></li>
            <li>Rating (IMDB): <em>8.1/10.</em> Based on 757074 votes.</li>
            <li>MetaScore: <em>76/100.</em></li>
          </ul>
          <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
        </article>
      </main>
    </body>
  </html>
